:root {
  --primary-colour: #212529;
  --secondary-color: #424649;
  --accent-colour: #f780bf;
  --font-family: "Outfit", sans-serif;
}

.App {
  max-width: 600px;
  margin: 20px auto;
}
.App footer {
  color: var(--secondary-color);
  font-size: 13px;
  margin: 10px 0;
}
.App footer a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: 150ms ease-in-out;
}
.App footer a:hover {
  color: var(--accent-colour);
}
