body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: radial-gradient(827px at 47.3% 48%, #f9f9f9 0%, #acdcee 90%);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.Weather {
  max-width: 600px;
  margin-top: 30px;
  padding: 30px;
  background: linear-gradient(#0000000f, #0000000f);
  border-radius: 4px;
}
h1 {
  color: var(--primary-colour);
  font-size: 48px;
  font-weight: bold;
  line-height: 40px;
  margin: 30px 0 10px 0;
}
.Weather .date {
  color: var(--secondary-color);
}
.Weather ul {
  padding: 0;
}
.Weather li {
  font-size: 18px;
  line-height: 36px;
  list-style: none;
}
.Weather canvas {
  margin: 20px auto;
}
.Weather .temperature {
  color: var(--primary-colour);
  font-size: 60px;
  font-weight: bold;
  line-height: 64px;
}
.Weather .unit {
  color: var(--primary-colour);
  font-size: 20px;
  line-height: 1;
  text-decoration: none;
  position: relative;
  margin-left: 10px;
  top: -28px;
}
.Weather .unit a {
  text-decoration: none;
}
.Weather .description {
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 1;
  margin-top: 14px;
}
