.WeatherForecast {
  text-align: center;
  margin-top: 30px;
}
.WeatherForecast-day {
  font-size: 18px;
}
.WeatherForecast-temperature {
  font-size: 18px;
}
.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 8px;
}
