.WeatherForecast {
  margin-top: 20px;
}
.WeatherForecast-day {
  color: var(--primary-colour);
  font-size: 20px;
}
.WeatherForecast-temperatures {
  color: var(--primary-colour);
  font-size: 18px;
}
.WeatherForecast-temperature-min {
  color: var(--secondary-color);
  margin-left: 16px;
}
