body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #8dc6ff;
  background: radial-gradient(
    827px at 47.3% 48%,
    rgb(255, 255, 255) 0%,
    rgb(138, 192, 216) 90%
  );
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.Weather {
  background: rgb(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 4px;
  max-width: 600px;
  padding: 30px;
  margin-top: 40px;
}
.Weather h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 40px;
  margin: 30px 0 10px 0;
}
.Weather p {
  color: #595c5f;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}
.Weather ul {
  padding: 0;
  margin-top: 16px;
}
.Weather li {
  font-size: 18px;
  line-height: 30px;
  list-style: none;
}
.Weather canvas {
  color: black;
  margin: 10px auto;
  margin-right: 20px;
}
.Weather .temperature {
  font-size: 54px;
  font-weight: bold;
  line-height: 64px;
}
.Weather .unit {
  font-size: 20px;
  line-height: 1;
  text-decoration: none;
  position: relative;
  margin-left: 20px;
  top: -26px;
}
.Weather .unit a {
  text-decoration: none;
}
.Weather .description {
  margin-top: 10px;
}
